body, html {
  height: 100%;
  margin: 0;
}

.increment-button {
  display: block;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 400px;
  height: 100vh;
  margin: 0 auto;
}

table {
  margin: 1em 0;
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #dcdcdc;
  text-align: left;
}

.browse-items-container {
  overflow-y: auto;
  flex-grow: 1;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 25px;
}

.form-container input {
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.form-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #646cff;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease-in-out;
}

.form-container button:hover {
  background-color: #535bf2;
}
